main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}
